@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<div class="alert alert-success" id="after">
    <h2><strong> Please check your email to reset your password. </strong></h2>
</div>