

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align:center;background-color:lightgreen;font-size:50px;">
        <b>ProjectMove</b>
    </div>
    <div>
        <pre>
            Dear ViewBag.Name

           
                We just need to verify your Email address for complete your registration..
                clicl<a href="ConfirmationLink">Here</a>
                    
        
        </pre>
        
    </div>
</body>
</html>