
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align:center;background-color:lightgreen;font-size:50px;">
        <b>ProjectMove</b>
    </div>
    <div>
        <pre>
            Dear Admin,
            You Have a New User query as follows.  
            
            Name    : UserName
            Phone   : UserPhone
            Email   : UserEmail
            Message : UserMessage

            Thank You
                    
        
        </pre>
    </div>
</body>
</html>