
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align:center;background-color:lightgreen;font-size:50px;">
        <b>ProjectMove</b>
    </div>
    <div>
        <pre>
            Dear Volunteer,
                 
                Thank You for your interest to become a volunteer at ProjectMove.
                Please Verify your Email address to complete your registration..
                <a href="ConfirmationLink">Click Here</a>

            Best Regards
            ProjectMove
                    
        
        </pre>
    </div>
</body>
</html>
Chat conversation end
Type a message...

            Thank You
            ProjectMove

        </pre>
    </div>
</body>
</html>
